body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f7f9fc;
  color: #333;
}

header {
  text-align: center;
  padding: 60px 20px;
  background-color: #111827;
  color: white;
}

section {
  padding: 40px 20px;
  max-width: 800px;
  margin: auto;
}

h2 {
  border-bottom: 2px solid #e5e7eb;
  padding-bottom: 10px;
}

.card {
  background: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.card a {
  text-decoration: none;
  color: #2563eb;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #111827;
  color: white;
}
.contact-icons {
  margin-top: 20px;
}

.contact-icons a {
  font-size: 28px;
  margin-right: 20px;
  color: #111827;
  text-decoration: none;
  transition: 0.3s;
}

.contact-icons a:hover {
  color: #2563eb;
  transform: scale(1.2);
}
